.navbar {
    height: 90px;
    width: 100%;
    background: #333131;
    color: white;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.dropdown {
    opacity: 0;
    position: absolute;
    width: 550px;
    z-index: ;
    background: black;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
}
.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.left {
  margin-right: 4px;
  display: block;
}
.left2 {
  margin-right: 300px;
  display: block;
}

.right {
  margin-left: 4px;
  display: block;
}
.right2 {
  margin-left: 650px;
  display: block;
}
.text-center {
  text-align: ;
}
.footer-links {
  list-style-type: ;
}
@media {
  .footer-links li {
    display: inline;
  }
} 
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}